.advantages {
    margin-bottom: 40px;
    background-color: $primary-bg-clr;
}

.advantages-wrap {
    margin-right: -15px;
    padding-bottom: 15px;

    &:after {
        content: '';
        display: block;
        clear: both;
    }

    @include rsp-md {
        display: flex;
        align-items: center;
    }
}

.advantages-header {
    @extend %ff-arial-bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 22px;
    padding: 40px 0;
}

.advantages-img {
    max-width: $advantages-img-width;
    margin-bottom: 20px;
    padding: 0 15px 15px 0;
    float: left;

    img {
        width: 100%;
    }

    @include rsp-md {
        margin-bottom: 0;
        float: none;
    }
}

.advantages-describe {
    text-indent: 7%;
    padding-right: 15px;
    text-align: justify;

    @include rsp-md {
        width: 537px;
        height: 184px;
        margin-left: 70px;
        overflow-y: scroll;
    }
}