.footer-top {
    background-image: url('../img/bg_footer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 30px;
}

.footer-top-header {
    @extend %ff-arial-bold;
    padding: 40px 0;
    font-size: 20px;
    text-align: center;
    color: $white;
}

.footer-top-form {
    position: relative;
    padding: 40px 30px;
    color: $white;
   
    &:before {
        content: '';
        position: absolute;
        background-color: $black;
        opacity: 0.6;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
}

.footer-top-form-menu {
    position: relative;
    z-index: 1;
}

.footer-top-form-item {
    @extend %ff-arial-regular;
    margin-bottom: 25px;
    position: relative;

    &:last-child {
        margin-bottom: 0;
    }

    &:focus-within {
        font-size: 0;
    }

    input:not([type="submit"]) {
        width: 100%;
        font-size: 18px;
        outline: 0;
        color: $primary-text-clr;
        border: 0;
        border-bottom: 1px solid $primary-border-clr;
        background-color: transparent;
    }

    [type="submit"] {
        background-color: $primary-btn-clr;
        width: 100%;
        padding: 20px 0;
        border-radius: $primary-border-radius;
        outline: 0;
        border: 0;
        font-size: 16px;
        cursor: pointer;
    }

    @include rsp-md {
        display: inline-block;

        &+li {
            margin-left: 10px;
        }
    }
}

// DROP DOWN MENU at "Страна тура"
.footer-top-form-item.dropdown {
    position: relative;

    &::after {
        content: '';
        @include triangle-left;
        position: absolute;
        right: 5%;
        border-color: $primary-text-clr;
        transform: rotate(-45deg);
        width: 10px;
        height: 10px;
        border-width: 2px;
    }
}

.footer-top-form-dropdown-menu {
    position: absolute;
    bottom: 0;
    left: 5%;
    background-color: $primary-bg-clr;
    width: 100%;
    color: $black;
    padding: 10px;
    transition: transform $primary-transition-duration;

    li {
        cursor: pointer;

        &+li {
            margin-top: 25px;
        }

    }
}

.scaledown {
    transform: scale(0);
}

.scaleup {
    transform: scale(1);
}