.header-top-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
    position: relative;
    @include rsp-lg{
        margin-bottom: 200px;
    }
}

.header-top .nav-menu {
    padding: 10px 20px 20px;
    background-color: $bg-footer-bottom-clr;
    color: $primary-text-clr;

    .nav-items {
        @extend %ff-arial-bold;
        display: block;
        font-size: 16px;
        padding: 15px 75px;
        margin-top: 20px;

        &::first-letter {
            text-transform: uppercase;
        }

        @include rsp-md {
            display: inline-block;
            margin-top: 0;
            color: $black;
            padding: 15px 10px;
        }

        @include rsp-lg {
            font-size: 18px;
            padding: 15px 15px;
        }
    }

    @include rsp-md {
        padding: 0 15px;
        border-radius: $primary-border-radius;
        background-color: $primary-btn-clr;
        color: $black;
    }
}

.header-contacts-navbar-wrap {
    display: none;
    position: absolute;
    right: 0 - 15px;
    top: 0-15px;
    bottom: 0;
    z-index: 3;

    @include rsp-md {
        display: block;
        position: static;
    }
}

.header-contacts {
    @extend %ff-arial-bold;
    display: none;
    font-family: Arial, serif;
    color: rgba($primary-text-clr, 0.8);
    margin-bottom: 15px;


    .header-contacts-icons {
        margin-left: 20px;
    }

    .header-contacts-phone {
        margin-left: 20px;

        a {
            font-size: 12px;

            span {
                @extend %ff-firasans-regular;
            }

            @include rsp-lg {
                font-size: 14px;
            }

        }

        [class^='icon'] {
            font-size: 16px;
        }
    }

    address {
        display: inline;
    }

    a+a {
        margin-left: 10px;
    }

    img {
        width: 22px;
    }

    @include rsp-md {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 12px;
    }

    @include rsp-lg {
        font-size: 14px;
    }
}

// <<<<<<<<<<<<<<<<< DROP MENU >>>>>>>>>>>>>>>>>>>>

.nav-menu [class*='drop-holder'] {
    position: relative;

    &::after {
        @include triangle-down;
        content: '';
        display: inline-block;

        @include rsp-md {
            border-color: $black;
        }
    }
}

.header-top-dropmenu {
    @extend %ff-arial-regular;
    position: absolute;
    transform: scale(0);
    right: 0;
    transition: transform $primary-transition-duration;
    padding: 20px 20px;
    color: $bg-offer-clr;
    background-color: $primary-bg-clr;

    li {
        margin: 0 20px;

        &+li {
            margin-top: 20px;
        }
    }

    @include rsp-md {
        background-color: $bg-drop-menu-clr;
        color: $white;
        opacity: 0.8;
        top: 100%;
        right: -50%;


    }
}