.header-top-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
    position: relative;
}

.header-top .nav-menu {
    padding: 10px 20px 20px;
    width: 150%;
    background-color: $bg-footer-bottom-clr;
    color: $primary-text-clr;

    .nav-items {
        @extend %ff-arial-bold;
        display: block;
        font-size: 14px;
        padding: 15px 25px;
        margin-top: 20px;

        &::first-letter {
            text-transform: uppercase;
        }

        @include rsp-md {
            display: inline-block;
            vertical-align: top;
            margin-top: 0;
            color: $black;   
            padding: 15px 10px;        
        }

        @include rsp-lg {
            font-size: 18px;
        }
    }

    @include rsp-md {
        padding: 0;        
        max-width: 100%;
        // flex-shrink: 0;        
        background-color: $primary-btn-clr;        
        border-radius: $primary-border-radius;
    }
}

.header-contacts-navbar-wrap {
    display: none;
    position: absolute;
    right: 0 - 15px;
    top: 0-15px;
    bottom: 0;
    z-index: 3;

    @include rsp-md {
        display: block;
        position: static;               
        
    }   
}

.header-contacts {
    @extend %ff-arial-bold;
    display: none;
    font-family: Arial, serif;
    color: rgba($primary-text-clr, 0.8);
    margin-bottom: 15px;


    .header-contacts-icons {
        margin-left: 60px;
    }

    .header-contacts-phone {
        margin-left: 40px;

        a {
            font-size: 12px;

            span {
                @extend %ff-firasans-regular;
            }

            @include rsp-lg {
                font-size: 14px;
            }

        }

        [class^='icon'] {
            font-size: 16px;
        }
    }

    address {
        display: inline;
    }

    a+a {
        margin-left: 20px;
    }

    img {
        width: 22px;
    }

    @include rsp-md {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 13px;
    }
}