.header-top{
    display: flex;
    justify-content: space-between;
}

.header-top .nav-menu {
    background-color: $primary-btn-clr;

    .nav-items {
        display: inline-block;
        &::first-letter{
            text-transform: uppercase;
        }
    }
}
.header-contacts-navbar-wrap{
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.header-contacts{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: rgba($primary-text-clr,0.8);
    address{
        display: inline;
    }
    [class*='icon']{
        color: rgba($primary-text-clr,0.8);
    }
}
.nav-menu{
    display: none;
}