@import 'service/reset';
@import 'service/vars';
@import 'service/fonts';
@import 'service/icons';
@import 'mixins/responsible';
@import 'mixins/triangle';
@import 'burger';
@import 'header_top';
@import 'header_bottom';
@import 'tours';




* {
    box-sizing: border-box;
}

body {
    min-width: 320px;
    font-size: 16px;
    @extend %ff-firasans-regular;
}

.wrapper {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header-wrap {   
    padding: 7px 0 0 0;
    background-image: url('../img/bg_header.jpg');    
    background-size: cover;
}