
%ff-firasans-regular {
    font-weight: 400;
    font-family: 'Fira Sans', sans-serif;
}

%ff-firasans-semibold {
    font-weight: 600;
    font-family: 'Fira Sans', sans-serif;
}
%ff-arial-regular {
    font-weight: 400;
    font-family: 'Arial', sans-serif;
}
%ff-arial-bold {
    font-weight: 700;
    font-family: 'Arial', sans-serif;
}

