//default
$white:#ffffff;
$black:#000000;
//primaries
$primary-btn-clr:#fbd341;
$primary-text-clr:#f3f3f3;
$secondary-text-clr:#3a3a3a;
$primary-bg-clr:#f8f7f7;
$primary-border-radius:10px;
$primary-border-clr: #6a6a6a;
$primary-transition-duration:.3s;

//background colors
$bg-offer-clr:#004c84;

//responsible size
$sm:480px;
$md:762px;
$lg:980px;
$xl:1200px;

//burger
$burger-menu-size:50px;
$burger-line-height:3px;
$burger-line-width:80%;

//tours
$tour-img-width:187px;

//triangle
$tri-size:50px;
$tri-clr:$secondary-text-clr;
$tri-weight:15px;

//advantages
$advantages-img-width:458px;