//default
$white:#ffffff;

//primaries
$primary-btn-clr:#ff9311;
$primary-btn-text-clr:$white;
$primary-text-clr:#999999;
$secondary-text-clr:#484848;
$primary-transition-duration:.3s;
$primary-bg-clr:$white;
$primary-border-clr:#cfcfcf;
$primary-border-height:2px;

//background colors
$bg-portfol-clr:#f8f8f8;

//responsible size
$sm:480px;
$md:762px;
$lg:980px;
$xl:1200px;


