@mixin triangle-right {
    width: $tri-size;
    height: $tri-size;
    border-right: $tri-weight solid $tri-clr;
    border-top: $tri-weight solid $tri-clr;
    transform: rotate(45deg);
    cursor: pointer;
}

@mixin triangle-left {
    width: $tri-size;
    height: $tri-size;    
    border-left: $tri-weight solid $tri-clr;
    border-bottom: $tri-weight solid $tri-clr;
    transform: rotate(45deg);
    cursor: pointer;
}